table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial;
}

.slider-container {
    width: 800px;
    margin: 10px auto;
    height: 250px;
    position: relative;
}

.slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.slider-container img.active {
    opacity: 1;
}

.slider-container .slider-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-controls {
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider-controls .prev,
.slider-controls .next {
    background-color: #009688;
    color: #fff;
    font-size: 16px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
    z-index: 1;
}

.slider-controls .prev {
    float: left;
}

.slider-controls .next {
    float: right;
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled {
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
}

.slider-controls .indicators {
    width: 60%;
    float: left;
}

.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #009688;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indicators ul li.active {
    background-color: #009688;
    color: #fff;
}

* Style the top navigation bar */ .topnav {
    overflow: hidden;
    background-color: #009688;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav p {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    background-color: #009688;
    height: 150px;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #009688;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.connect {
    float: left;
    margin-left: 50px;
}

table {
    color: rgb(14, 119, 0);
    font-size: 2.5ch;
    font-family: Verdana;
    font-weight: bold;
}

.content,
.footer {
    font-family: Georgia;
    margin-top: 30px;
    font-weight: bold;
    font-size: 4mm;
    margin-bottom: 0px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #013503;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}